<% @tasks.each do |task| %>
    <h2><%= task.body %></h2>
    <%# ↓ここをcontrollerに書きたい... %>
    <% task_posts = Post.where(task_id: task.id) %>
    <% task_posts.each do |post| %>
        <%= render post, locals: { panel: "panel3"} %>
    <% end %>
<% end %>