<% if shogo = user.shogos.find_by(user_id: user.id) %>
    <% @posts = Post.where user_id: user.id %>
    <% likes_total = 0 %>
    <% @posts.each do |post| %>
        <% likes_total += post.likes.count %>
    <% end %>
    <h3>戦闘力: <%= likes_total * 10000 %></h3>
    <% if not shogo.status == likes_total %>
        <% @shogo = Shogo.update user_id: user.id, status: likes_total %>
    <% end %>
    

<% else %>
    
    <% @posts = Post.where user_id: user.id %>
    <% likes_total = 0 %>
    <% @posts.each do |post| %>
        <% likes_total += post.likes.count %>
    <% end %>
    <h3>戦闘力: <%= likes_total * 10000 %></h3>
    <% @shogo = Shogo.create user_id: user.id, status: likes_total %>

<% end %>