<% if user_signed_in? %>
  <% if @like_hash.has_value?(post.id) %>
      <div class="appare">
        <%= button_to post_like_path(post.id,@like_hash.key(post.id)), class:'dislike', method: :delete, id: "like-button", remote: true do %>
        <img src="/assets/appare.png" alt="天晴済">
      </div>
     <% end %>
   <% else %>
    <div class="appare">
      <%= button_to post_likes_path(post_id: post.id), id: "like-button", remote: true do %>
      <img class="appare" src="/assets/non_appare.png" alt="天晴">
    </div>
   <% end %>
 <% end %>
<% else %>
  登録したらいいねできるよ
<% end %>