<div class="top">
    <div class="top__container">
        <img class="top__logo" src="/assets/logo.svg" alt="魁!!漢飯">
        <div class="btn__wrapper">
            <div class= "sign-up">
            <%= link_to '入  門', new_user_registration_path %>
            </div>
            <p>又は</p>
            <div class="sign-in">
            <%= link_to 'ろ  ぐ  い  ん', new_user_session_path %>
            </div>
        </div>
    </div>
</div>