<div class="top">
    <div class="container">
        <img class="top__logo" src="/assets/logo.svg" alt="魁!!漢飯">
        <div class="btn__wrapper">
            <div class= "sign-up">
                <%= link_to '入  門', new_user_registration_path %>
            </div>
            <div class="sign-in">
                <%= link_to '見 参', new_user_session_path %>
            </div>
        </div>
    </div>
</div>