// colors
$accent: #c9171e; // 深緋 #c9171e
$main: #1C1C1C; // 墨　#1C1C1C
$base: #2b2b2b; //黒 #2b2b2b
$text: #FCFAF2; // 白練 #FCFAF2
$border: #656765; // 鈍 #656765

//font-weights
$medium: 500;
$black: 900;

//sizes
$header: 48px;