/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  /*
深緋 #c9171e
墨　#1C1C1C
鈍 #656765
白練 #FCFAF2
*/

* {
    box-sizing: border-box;
    font-family: 'Noto Serif JP', sans-serif;
}

body {
    font-size: 16px;
    margin: 0px;
}
a {
    text-decoration: none;
    display: block;
}
a:any-link {
    color: #FCFAF2;
}

 p {
     color: #FCFAF2;
 }

h2 {
    margin: 10px 0;
}

.notice {
    display: none;
}
.alert {
    display: none;
}

.container {
    width: 100%;
    padding-top: 100px;
  }
