// ヘッダー(application.html.erb, posts/indexのタブ)のスタイル

@import "variables";

header {
  background-color: $main;
  color: $text;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0px;
  margin: 0px;
  z-index: 10;
  a {
    display: inline-block;
    height: $header;
    &:visited {
      color: $text;
    }
  }
  .my_page {
    float: left;
    padding-left: 10px;
  }
  .logo {
    height: $header;
    padding-top: 10px;
  }
  .new {
    float: right;
    padding-right: 10px;
  }
  .btn {
    height: $header;
    padding-top: 10px;
  }
}


input[type="radio"]{
  display:none;
}
.tab_area{
  font-size: 0;
  margin:0;
  position: fixed;
  z-index: 10;
  top: $header;
  width: 100%;
  background-color: $main;

  label {
    width:calc(100%/3);
    display: inline-block;
    padding-top: 12px;
    color: $border;
    text-align:center;
    font-size: 24px;
    font-weight: $black;
    border-bottom: 5px solid $main;
    cursor:pointer;
    transition:ease 0.2s;
    &:hover{
      color: $accent;
    }
  }
}

#tab1:checked ~ .tab_area .tab1_label{
  color: $text;
  border-bottom: 5px solid $accent;
}
#tab1:checked ~ .panel_area #panel1{
  display:block;
}

#tab2:checked ~ .tab_area .tab2_label{
  color: $text;
  border-bottom: 5px solid $accent;
}
#tab2:checked ~ .panel_area #panel2{
  display:block;
}

#tab3:checked ~ .tab_area .tab3_label{
  color: $text;
  border-bottom: 5px solid $accent;
}
#tab3:checked ~ .panel_area #panel3{
  display:block;
}