// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// トップページ(home/top)のスタイル
@import "variables";

.top {
    background-image: url("/assets/Fugaku36_bg.png");
    background-position: center;
    background-size: cover;
    height: 100vh;

    &__container {
        padding: 0px 10vw;
        text-align: center;
        max-width: 700px;
    }
    &__logo {
        filter: drop-shadow(0 10px 10px $main);
        width: 100%;
        padding-top: 30vh;
        padding-bottom: 20px;
    }
    .btn__wrapper {
        text-align: center;
        padding: 0px 30px;
        color: $text;
        
        .sign-up a {
            // filter: drop-shadow(0 10px 10px $main);
            background-color: rgba($color: $accent, $alpha: 0.7);
            &:visited {
                color: $text;
            }
        }
        .sign-in a {
            // filter: drop-shadow(0 10px 10px $main);
            background-color: rgba($color: $text, $alpha: 0.7);
            color: $main;
            margin-top: 30px;
            &:visited {
                color: $main;
            }
        }
        a {
            font-size: 24px;
            font-weight: $black;
            width: 100%;
            padding: 15px 0px;
        }
    }
}