// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

body {
  background-color: $base;
  color: $text;
}

.tab_wrap {
  width:100%;
}
.panel_area {
  background-color: $base;
  color: $text;
  text-align: center;
  h1 {
    text-align: left;
  }
}

.tab_panel {
  width:100%;
  padding:10px 0;
  display:none;
  img {
    width: 100%;
  }
  p{
    font-size:14px;
    text-align: left;
  }
}

.container {
  width: 100%;
  margin-top: 240px;
  img {
    width: 100%;
  }
  .btns {
    a {
      float: left;
      width: calc(100%/3);
      text-align: center;
      background-color: $border;
      padding: 10px;
      border: 3px solid $main;
    }
  }
}