// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

header {
  background-color: $main;
  color: $text;
  width: 100%;
  height: 100px;
  text-align: center;
  // border-bottom: 1px solid $border;
  a {
    display: inline-block;
    height: 100px;
      &:visited {
        color: $text;
      }
  }
  .my_page {
    float: left;
    padding: auto 0;
  }
  .logo {
    height: 100px;
    padding: 5px 0;
  }
  .new {
    float: right;
    padding: auto 0;
  }
}

body {
  background-color: $main;
  color: $text;
}

.tab_wrap{
  width:100%;
}
input[type="radio"]{
  display:none;
}
.tab_area{
  font-size: 0;
  margin:0;
  label {
    width:calc(100%/3);
    display:inline-block;
    padding: 12px 0;
    color:$border;
    border-bottom: 1px solid $border;
    text-align:center;
    font-size: 48px;
    font-weight: $black;
    cursor:pointer;
    transition:ease 0.2s opacity;
    &:hover{
      opacity:0.5;
    }
  }
}
.panel_area{
  background-color: $main;
  color: $text;
  text-align: center;
  h2 {
    text-align: left;
  }
}
.tab_panel{
  width:100%;
  padding:10px 0;
  display:none;
  img {
    width: 100%;
  }
  p{
    font-size:14px;
    text-align: center;
  }
}

#tab1:checked ~ .tab_area .tab1_label{
  color: $text;
  border-bottom: 5px solid $accent;
}
#tab1:checked ~ .panel_area #panel1{
  display:block;
}

#tab2:checked ~ .tab_area .tab2_label{
  color: $text;
  border-bottom: 5px solid $accent;
}
#tab2:checked ~ .panel_area #panel2{
  display:block;
}

#tab3:checked ~ .tab_area .tab3_label{
  color: $text;
  border-bottom: 5px solid $accent;
}
#tab3:checked ~ .panel_area #panel3{
  display:block;
}

.container {
  width: 100%;
  img {
    width: 100%;
  }
  .btns {
    a {
      float: left;
      width: calc(100%/3);
      text-align: center;
      background-color: $border;
      padding: 10px;
      border: 3px solid $main;
    }
  }
}