// users/show のスタイル

@import "variables";

.user {
  &__container {
    max-width: 512px;
    margin: 0 auto;
    background-color: $border;
  }
  padding: 72px 0;
  background-color: $main;

  &__info {
    text-align: center;
  }
  &__shogo {
    display: inline-block;
    font-size: 16px;
    padding: 4px 8px;
    background-color: $daccent;
  }
  &__name {
    font-size: 21px;
    margin-bottom: 8px;
    border-bottom: 2px solid $daccent;
  }

  img.user__icon {
    width: 160px;
  }
  // 戦闘力・総兵力・編集・退陣
  &__right-side {
    &__btns {
      width: 160px;
      margin: 16px auto;
      &_none {
        display: none;
      }
      .edit {
        text-align: center;
        padding: 8px 0;
        font-weight: $black;
        background-color: rgba($color: $border, $alpha: 0.7);
        margin-bottom: 8px;
      }
      .logout {
        color: $border;
        text-align: center;
        padding: 8px 0;
        font-weight: $black;
        background-color: rgba($color: $text, $alpha: 0.7);
      }
    }
  }

  &__tab_wrap {
    width: 100%;
    margin-top: 24px;
  }
  &__tab_area {
    width: 100%;
    label {
      width: calc(100% / 3);
      display: inline-block;
      text-align: center;
      font-size: 20px;
      font-weight: $black;
      border-bottom: 4px solid $main;
      cursor:pointer;
      transition:ease 0.5s;
      &:hover{
      color: $accent;
      }
    }
  }
  &__tab_panel {
    display: none;
    padding: 8px 0;
    background-color: $base;
  }
  .post {
    max-width: 480px;
    margin: 0 auto;
  }
}


#tab1:checked ~ .user__tab_area .tab1_label{
  color: $text;
  border-bottom: 4px solid $daccent;
}
#tab1:checked ~ .user__panel_area #panel1{
  display:block;
  h3 {
    text-align: center;
  }
}

#tab3:checked ~ .user__tab_area .tab3_label{
  color: $text;
  border-bottom: 4px solid $daccent;
}
#tab3:checked ~ .user__panel_area #panel3{
  display:block;
  h3 {
    text-align: center;
  }
}

#tab4:checked ~ .user__tab_area .tab4_label{
  color: $text;
  border-bottom: 4px solid $daccent;
}
#tab4:checked ~ .user__panel_area #panel4{
  display:block;
  .normal_shogos {
    text-align: center;
    .normal_type {
      border-bottom: 2px solid $daccent;
      margin: 8px 0;
    }
    .ex_type {
      border-bottom: 2px solid $daccent;
      margin: 16px 0;
    }
    .first {
      float: left;
      text-align: center;
      width: 40%;
      margin-left: 5%;
    }
    .last {
      float: right;
      text-align: center;
      width: 40%;
      margin-right: 5%;
    }
  }
}

.edit_sfirst {
  margin-bottom: 16px;
  .normal_first {
    display: inline-block;
    width: 40%;
    margin-right: 10%;
  }
  .ex_first {
    display: inline-block;
    width: 40%;
  }
  select {
    background-color: $daccent;
    outline: 0;
    border: none;
    color: $text;
  }
}
.edit_slast {
  margin-bottom: 16px;
  .normal_last {
    display: inline-block;
    width: 40%;
    margin-right: 10%;
  }
  .ex_last {
    display: inline-block;
    width: 40%;
  }
  select {
    background-color: $daccent;
    outline: 0;
    border: none;
    color: $text;
  }
}

.field {
  p {
    margin: 8px 0;
  }
}

.shogo_field{
  label {
    margin: 4px 0;
    padding: 4px;
    display: inline-block;
    background-color: $border;
  }

  label.checked {
    background-color: $daccent;
  }
}