// users/show のスタイル

@import "variables";

.user {
  margin-top: 72px;
  padding: 0px 8px;
  &__shogo {
    display: inline-block;
    padding: 4px 8px;
    background-color: rgba($color: $accent, $alpha: 0.7);
  }
  &__name {
    font-size: 21px;
    margin-bottom: 8px;
  }

  img.user__icon {
    float: left;
    width: 160px;
    margin-right: 8px;
  }
  // 戦闘力・総兵力・編集・退陣
  &__right-side {
    position: relative;
    width: 50%;
    height: 160px;
    float: left;
    &__btns {
      width: 100%;
      max-width: 240px;
      position: absolute;
      left: 0;
      bottom: 0;
      .edit {
        text-align: center;
        padding: 8px 32px;
        margin-bottom: 16px;
        font-weight: $black;
        background-color: rgba($color: $border, $alpha: 0.7);
      }
      .logout {
        color: $border;
        text-align: center;
        padding: 8px 32px;
        font-weight: $black;
        background-color: rgba($color: $text, $alpha: 0.7);
      }
    }
  }

  &__tab_wrap {
    width: 100%;
    margin-top: 24px;
  }
  &__tab_area {
    width: 100%;
    label {
      width: 50%;
      display: inline-block;
      text-align: center;
      font-size: 20px;
      font-weight: $black;
      border-bottom: 2px solid $base;
      cursor:pointer;
      transition:ease 0.5s;
      &:hover{
      color: $accent;
      }
    }
  }
  &__panel_area {

  }
  &__tab_panel {
    display: none;
  }

}


#tab1:checked ~ .user__tab_area .tab1_label{
  color: $text;
  border-bottom: 2px solid $accent;
}
#tab1:checked ~ .user__panel_area #panel1{
  display:block;
}

#tab2:checked ~ .user__tab_area .tab2_label{
  color: $text;
  border-bottom: 2px solid $accent;
}
#tab2:checked ~ .user__panel_area #panel2{
  display:block;
}


