@import "variables";

.form-title {
  padding-top: 20vh;
  margin: 0;
}

#error_explanation {
  color: $accent;
  h2 {
    font-size: 16px;
  }
  ul {
    width: 100vw;
    li {
      float: left;
    }
  }
}
.field {
  input {
    width: 100%;
    &#user_remember_me {
      width: 5%;
    }
  }
}

.actions {
  margin-top: 20px;
  float: right;
  input {
    font-size: 24px;
    font-weight: $black;
    padding: 5px 20px;
    background-color: rgba($color: $accent, $alpha: 0.7);
    color: $text;
    border: none;
  }
}